
<router-outlet></router-outlet>

<div class="wrapper">
  <div>
    <label>Normal Input:</label>
    <input type="text" placeholder="Not from lib and outside">
  </div>
  
  <div>
    <label>Normal from md lib:</label>
    <ng-ar-md-input>
      <input type="text" placeholder="type your text">
    </ng-ar-md-input>
  </div>

  <ng-ar-svg-icon src="../assets/images/blue-mail.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24 }">
    cool boy
  </ng-ar-svg-icon>

  <div>
    <label>Normal from ar lib:</label>
    <ng-ar-input>
      <input type="text" placeholder="type your text">
    </ng-ar-input>
  </div>
</div>

<div class="container">
  <h1>Material Icons</h1>
  <div class="form">
    <div class="form-row">
      <label>Normal Input:</label>
      <input type="text" placeholder="Not from lib">
    </div>

    <div class="form-row">
      <label>Ar lib input:</label>
      <ng-ar-input icon="pencil">
        <input type="text" placeholder="type your text">
      </ng-ar-input>
    </div>

    <div class="form-row">
      <label>Email Input:</label>
      <ng-ar-md-input [icon]="'mail'">
        <input class="normal-input" type="email" name="email" placeholder="Please enter your e-mail">
      </ng-ar-md-input>
    </div>

    <div class="form-row">
      <label>Without Input props :</label>
      <ng-ar-md-input>
        <input class="normal-input" type="text" placeholder="Please enter some text">
      </ng-ar-md-input>
    </div>

    <div class="form-row md-input-green-theme">
      <label>Playstore Link:</label>
      <ng-ar-md-input icon="android">
        <input class="normal-input" type="url" name="url" placeholder="Playstore app link">
      </ng-ar-md-input>
    </div>
  </div>
</div>